.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}